/* Add CSS Styling */

.odd {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number2 {
    font-size: 36px;
    color: #0000ff;
}

.three {
    font-size: 24px;
}

#number4 {
    font-size: 24px;
    font-weight: bold;
    background-color: #90ee90;
}