/* Add CSS Styling */

.blackbg {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.yellowbg {
    background-color: rgb(255, 255, 0);
}

.el-1, .el-2 {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif ;
}